body {
  color: white;
}

h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: -15px;
}

h2 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  line-height: 30px;
  margin-bottom: 50px;
}

h3 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

h4 {
  font-family: "Encode Sans";
  font-style: bold;
  font-weight: 500;
  font-size: 30px;
}

h5 {
  font-family: "Encode Sans";
  font-style: bold;
  font-weight: 500;
  font-size: 20px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.left {
  left: 0;
  background: linear-gradient(180deg, #abd2d0 0%, #427d7a 100%);
  mix-blend-mode: normal;
}

.right {
  right: 0;
  background: linear-gradient(180deg, #b6aacf 0%, #554478 100%);
  mix-blend-mode: normal;
}

#centerBlock {
  position: fixed;
  margin-left: 49.4%;
  width: 8px;
  height: 100%;
  top: 0px;
  z-index: 2;
  background: #fbfafa;
}

#leftBlock {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

#rightBlock {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.leftDog {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 50%;
}
#imageLeft {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.rightDog {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

#imageRight {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.blob01 {
  position: absolute;
  width: 60%;
  left: -70px;
  bottom: -40px;
}

.blob02 {
  width: 60%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.triangle_left {
  margin-left: 220px;
}

#about {

cursor: pointer;
background: #7E6F9C;
border: 2px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 10px 12px rgba(94, 82, 117, 0.5);
border-radius: 35px;
padding: 10px 14px;
font-family: Encode Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  bottom: 0px;
}

.aboutus {
  height: 100%;
  width: 100%;
  margin-left: 80%;

  z-index: 1;
}

/* -------------- Check-in page -------------*/
.chekin_body {
height: 100%;
width: 100%;
}

#check-in {
  width: 40%;
}
.button_back {
  margin-left: 30px;
  margin-top: 30px;
}

.checkinDog {
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: -6%;
  margin-top: 10px;
  overflow: hidden;
}

#imageCheckin {
  position: absolute;
  width: 90%;
  bottom: 0px;
}

.check-in-page-main {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(180deg, #b6aacf 0%, #554478 100%);
  mix-blend-mode: normal;
}

.check-in-page-parent {
  position: relative;
  width: 50%;
  left: 40%;
  top: 20%;
  right: 20%;
  align-self: center;
  z-index: 2;
}

.present-question-text {
  width: 100%;
  position: relative;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}

.check-in-question-text {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: Nunito;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: transparent;
}

.generate-checkIn-button {
  position: relative;
  cursor: pointer;
  width: 198px;
  height: 52px;
  background: #7e6f9c;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 10px 12px rgba(94, 82, 117, 0.5);
  border-radius: 35px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 40px;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
}

.generate-checkIn-button:active {
  background: #4a3c67;
}

.filter_icon {
  margin-top: 10px;
}

#myBtn {
  background-color: #ffffff00;
  margin-top: 80px;
  border: 0px;
}
#myBtn:hover,
#nyBtn:focus {
  cursor: pointer;
}
/* ------------Modal---------------*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}

/* Modal Content/Box */

#savebutton {
  position: relative;
  cursor: pointer;
  width: 169px;
  height: 52px;
  background: #4a3c67;
  border: 3px solid #4a3c67;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px rgba(74, 60, 103, 0.2);
  border-radius: 35px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: -10px;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
}

#savebutton:active {
  background: #29213a;
  border: 3px solid #29213a;
}
.filter_header {
  position: relative;
  margin-top: 20px;
  text-align: center;
}

/* The Close Button */
.close {
  font-family: Nunito;
  color: #4a3c67;
  float: right;
  font-size: 34px;
  font-weight: bold;
  margin-right: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  background: #ffffff;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
  width: 444px;
  height: 500px;
  overflow: hidden;
  box-shadow: 0px 10px 12px rgba(65, 58, 80, 0.5);
  border-radius: 30px;
  animation-name: animatetop;
  animation-duration: 0.8s;
  color: #4a3c67;
  margin: auto;
  margin-top: 10%;
}

.filter_header {
  text-align: center;
}

.filter_body {
  margin-left: 40px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: white;
  border: 3px solid #4a3c67;
  border-radius: 50%;
}

#filtertext {
  margin-left: 20px;
}
.container:hover input ~ .checkmark {
  background-color: #4a3c67;
}

.container input:checked ~ .checkmark {
  background-color: #4a3c67;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* ----------- Energizer page -----------*/

.energizer-body {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  background: linear-gradient(180deg, #abd2d0 0%, #427d7a 100%);
  mix-blend-mode: normal;
}
.energyDog {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: visible;
  margin-left: 70%;
  margin: top 0;
  z-index: 1;
}

#imageEnergy {
  position: absolute;
  width: 80%;
  bottom: 0px;
}

/* parent */
.energizer-content-holder {
  position: relative;
  width: 70%;
  top: 5%;
  margin-bottom: 80px;
  left: 15%;
  overflow: visible;
  
  /* set dynamic */
}

.generate-energizer-button {
  position: relative;
  width: 198px;
  height: 52px;
  margin-bottom: 10px;
  background: #9dc9c6;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 10px 12px rgba(116, 156, 154, 0.5);
  border-radius: 35px;
  border-radius: 35px;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
}
.generate-energizer-button:active {
  background: #6c9492;
}

.generate-energizer-button:hover,
.generate-energizer-button:focus {
  cursor: pointer;
}

.body-text-holder {
  position: static;
  width: 100%;
  border-radius: 30px;
  background-color: white;
}

.body-text {
  font-family: Encode Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #2a4443;
  padding: 100px;
  padding-right: 200px;
  line-height: 240%;
}

/* text-fields */
.display-energizer {
  position: relative;
  width: 1000px;
  height: 38px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 25px;
}

.present-energizer {
  position: relative;
  width: 529px;
  height: 38px;
  margin-bottom: 10px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
}

.boldtext {
  font-family: Helvetica;
  font-weight: bold;
}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 40px;
    width: 100%;
    font-family: Encode Sans;
    color: white;
    text-align: center;
    height: 38px;
  }

  #linkedin:link {
    color: white;
    text-decoration: none;
  }

  #linkedin:visited {
    color: white;
    text-decoration: none;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Encode Sans;
    color: white;
    text-align: center;
    height: 60px;
  }